<html xmlns="http://www.w3.org/1999/html">
<title>Expence Calculator</title>
<head>
<script src="/static/Js/jquery.min.js"></script>
<script src="/static/Js/function.js"></script>

     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body style="background: black;">


    <div class="container">
        <span><button id="btndata" class="btn btn-primary active"> March 2014 </button></span>

        <span><button id="btndata1" class="btn btn-primary active"> April 2015 </button></span>

        <span><button id="btndata2" class="btn btn-primary active" > May 2015 </button></span>

        <div class="row">
 <br>
            <div class="col-md-4" id="div1" style="background:#616BC9; color:white;margin-left:-10px;font-family: fantasy, cursive, Serif;">
                <br>
                <h3>March</h3>
                {% for i , j  in expenses.items %}
                {% if i == "March" %}
                    <button id="btn1" class="btn btn-success">Total Expence  </button> <p id="pr">
            {{j.total}}&#8377;</p></b><br>
                    {% for l in j.expenses %}
                 {{l.spend_on}} - {{l.date}} &nbsp;&nbsp;{{l.money}}&#8377;<br>
                {% endfor %}
                                          <br>
                {% endif %}
                {% endfor %}

                    <button id="btn1a" class="btn btn-success">Add More</button>
                    </div>

</div>
            <div class="col-md-4" id="div2" style="background:#616BC9; color:white; margin-left:5px;font-family: fantasy, cursive, Serif;">

                <h3>April</h3>
                {% for i , j  in expenses.items %}
                {% if i == "April" %}
                    <button id="btn2" class="btn btn-success">Total Expence  </button> <p id="pr1">
            {{j.total}}&#8377;</p></b><br>
                    {% for l in j.expenses %}
                 {{l.spend_on}} - {{l.date}} &nbsp;&nbsp;{{l.money}}&#8377;<br>
                {% endfor %}
                                          <br>
                {% endif %}
                {% endfor %}

                    <button id="btn2a" class="btn btn-success">Add More</button>

            </div>



            <div class="col-md-4" id="div3" style="background:#616BC9; color:white; margin-left:5px; font-family: fantasy, cursive, Serif;">
<br>

                <h3>May</h3>
                {% for i , j  in expenses.items %}
                {% if i == "May" %}
                    <button id="btn3" class="btn btn-success">Total Expence  </button> <p id="pr2">
            {{j.total}}&#8377;</p></b><br>
                    {% for l in j.expenses %}
                 {{l.spend_on}} - {{l.date}} &nbsp;&nbsp;{{l.money}}&#8377;<br>
                {% endfor %}
                                          <br>
                {% endif %}
                {% endfor %}

                    <button id="btn3a" class="btn btn-success">Add More</button>
            </div>
        </div>

        </script>

    </div>


</body>
</html>